.Nav {
  width: 100%;
  background-color: #181818;
  padding: 3px;
  display: flex;
  z-index: 9999;
}

.NavButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100% - 200px);
}

.NavA {
  margin: 5px 5px;
  font-size: 1.5rem;
  color: #e7e7e7;
}

.NavTitle {
  margin: 5px 5px;
  font-size: 1.65rem;
  color: #e7e7e7;
  text-decoration: none;
}

main {
  margin: 5px;
}
